.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.pricing-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pricing-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;

  border-radius: 12px;
  padding: 40px 24px;
  width: 343px;
  box-shadow: 0 50px 50px -25px rgba(75, 92, 154, 0.24);
  background: var(--colors-neutral-0);
}

.pricing-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.pricing-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.pricing-plan {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--colors-neutral-900);
}

.pricing-header {
  margin-top: 8px;
  font-size: 56px;
  line-height: 1.2;
  color: var(--colors-neutral-900);
}

.pricing-text {
  line-height: 1.6;
  color: var(--colors-neutral-900);
}

.pricing-features {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pricing-privileges {
  line-height: 1.6;
  text-align: center;
}

.card-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 999px;
  padding: 12px 40px;
  height: 50px;

  background-color: var(--colors-blue-100);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: var(--colors-blue-500);

  transition: all 0.3s ease;
}

.card-btn:hover {
  background-color: #dce5ff;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(76, 111, 255, 0.25);
}

.card-btn:focus {
  outline: 2px solid var(--colors-outline-hover);
  outline-offset: 3px;
}

.middle-pricing-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;

  border-radius: 12px;
  padding: 48px 32px;

  box-shadow: 0 50px 50px 0 rgba(75, 92, 154, 0.25);
  background-color: var(--colors-blue-500);
}

.middle-pricing-plan {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--colors-neutral-0);
}

.middle-pricing-header {
  font-size: 56px;
  line-height: 1.2;
  color: var(--colors-neutral-0);
}

.middle-pricing-text {
  line-height: 1.6;
  color: var(--colors-neutral-0);
}

.middle-pricing-privileges {
  line-height: 1.6;
  text-align: center;
  color: var(--colors-neutral-0);
}

.middle-card-btn {
  display: flex;
  align-items: center;

  border: none;
  border-radius: 999px;
  padding: 12px 40px;
  height: 50px;
  margin-top: auto;

  background: var(--colors-neutral-0);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: var(--colors-blue-500);

  transition: all 0.3s ease;
}

.middle-card-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.middle-card-btn:focus {
  outline: 2px solid var(--colors-outline-hover);
  outline-offset: 3px;
}

/* Countdown */

.countdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.countdown-timer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 343px;
  height: 156px;
}

.countdown-header {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.31em;
  text-transform: uppercase;
  color: var(--colors-neutral-0);
}

.countdown-span {
  color: var(--colors-blue-500);
}

.countdown-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  width: 343px;
}

.countdown-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;

  border-radius: 12px;
  padding: 16px 12px;
  width: 73px;
  height: 110px;

  background-color: var(--colors-neutral-800);
}

.countdown-number {
  font-weight: 700;
  font-size: 40px;
  color: var(--colors-neutral-0);
}

.countdown-text {
  font-weight: 700;
  line-height: 1.6;
  color: var(--colors-neutral-0);
  opacity: 0.5;
}

.countdown-btn {
  display: flex;
  align-items: center;

  border: none;
  border-radius: 999px;
  padding: 12px 40px;

  background-color: var(--colors-blue-500);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: var(--colors-neutral-0);

  transition: all 0.3s ease;
}

.countdown-btn:hover {
  background-color: #3b5edb; /* насиченіший синій */
  transform: translateY(-2px); /* зсув вгору */
  box-shadow: 0 8px 20px rgba(79, 117, 255, 0.4); /* м'яка тінь у тон */
}

.countdown-btn:focus {
  outline: 2px solid var(--colors-blue-500);
  outline-offset: 3px;
}

.footer-decoration {
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1248px;
  background-color: var(--colors-neutral-900);
  background-image: url("/src/img/bg-img-footer.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1200px 1200px;
}

@media (min-width: 768px) {
  .pricing {
    gap: 96px;
  }

  .pricing-list {
    gap: 20px;
  }

  .pricing-card {
    width: 689px;
    gap: 24px;
    padding: 48px;
  }

  .middle-pricing-card {
    width: 689px;
    gap: 24px;
    padding: 48px;
  }

  .pricing-content {
    flex-direction: row;
    gap: 177px;
  }

  .pricing-details {
    align-items: flex-start;
  }

  .pricing-plan {
    color: var(--colors-neutral-800);
  }

  .card-btn {
    align-self: flex-start;
  }

  .middle-pricing-card {
    background-image: url("../img/bg-card.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .middle-card-btn {
    align-self: flex-start;
  }

  .pricing-features {
    margin-top: auto;
  }

  .footer-decoration {
    height: 986px;
    background-position: center 24px;
    background-size: 1454px 1454px;
  }
}

@media (min-width: 1440px) {
  .pricing {
    gap: 80px;
  }

  .pricing-list {
    flex-direction: row;
    gap: 32px;
  }

  .pricing-card {
    flex-direction: column;
    gap: 40px;
    width: 348px;
    padding: 40px 20px;
    box-shadow: none;
  }

  .middle-pricing-card {
    flex-direction: column;
    gap: 40px;
    width: 348px;
    padding: 40px 20px;
    box-shadow: none;
    background-image: none;
  }

  .pricing-content {
    flex-direction: column;
    gap: 48px;
  }

  .pricing-details {
    align-items: center;
  }

  .pricing-features {
    margin-top: 0;
  }

  .middle-pricing-privileges {
    opacity: 0.75;
  }

  .card-btn {
    align-self: center;
  }

  .middle-card-btn {
    align-self: center;
  }

  .countdown {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .countdown-timer {
    align-items: flex-start;
    gap: 12px;
  }

  .footer-decoration {
    height: 603px;
    background-position: -702px -614px;
    background-size: 2036px 2036px;
  }
}
